@font-face {
    font-family: 'Horizon';
    src: url('./fonts/HorizonRounded.otf') format('opentype');
}
  
* {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

main, footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}


body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}

header {
    font-family: 'Horizon';
    background-color: darkslateblue;
    color: white;
    padding-left: 20px;
    display: flex;
    gap: 20px;
    font-size: 25px;
    align-items: center;
    height: 100px;
}

#todo-logo {
    width: 50px;
    height: 50px;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;

}

main img {
    width: 30px;
}

nav {
    border-right: darkslateblue 1px solid;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#first div {
    display: flex;
    gap: 20px;
}

#first div h4 {
    flex: 1;
    text-align: start;
}

#first div img {
    width: 25px;
}

.project {
    display: grid;
    grid-template-columns: auto 4fr auto  1fr;
    gap: 20px;
    align-items: center;
}

.project-logo {
    width: 25px;
}

.edit-project, .remove-project {
    width: 20px;
}

#project-header, #notes-header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

#project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#first, #project-div, #note-div {
    display: grid;
    gap: 10px;
}

.task {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
    gap: 20px;
    align-items: center;
    background-color: rgba(71, 61, 139, 0.12);
    padding: 10px 15px;
    transition: 0.2s;
}

.task:hover {
    box-shadow: 5px 5px 5px rgba(71, 61, 139, 0.342);
    transition: 0.2s;
    transform: scale(1.01);
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#main-container {
    padding: 40px;
    background-color: rgb(254, 243, 227);
}

#content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer  {
    background-color: darkslateblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-weight: 400;
}

footer a {
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

footer img {
    width: 25px;
    height: 25px;
}

button {
    background-color: inherit;
    border: none;
    font-size: 30px;
}

h4, button {
    font-size: 25px;
    font-weight: 50;
}

h3, h2 {
    font-size: 30px;
    font-weight: 600;
}

.add-button {
    text-align: start;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
}

.add-button, #first div, .project {
    padding: 10px 15px;
}

#project-header, #notes-header {
    padding: 10px 0px;
    padding-right: 15px;
}

.add-button:hover img, .edit-project:hover,
 .remove-project:hover, .edit-task:hover, .remove-task:hover{
    animation: rotation 1s infinite linear;
    transition: 0.2s;
}

.add-button:hover, .project:hover, #first div:hover {
    background-color: rgba(71, 61, 139, 0.12);
    transition: 0.2s;
}


.add-button img {
    width: 20px;
    height: 20px;
    transition: 0.2s;
}
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkbox {
    accent-color:  darkslateblue;
}

.counter {
    font-size: 20px;
    font-weight: 600;
    color: darkslateblue;
    text-align: end;
    align-self: center;
}

#add-task-form, #add-project-form {
    background-color: white;
    padding: 20px;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

#add-task-form *, #add-project-form * {
    font-size: 20px;
    padding: 5px 20px;
}

#input-title, #input-description, input {
    border: 0px;
}

#input-title:focus, #input-description:focus, input:focus {
    outline: none;
}

#input-date {
    border-radius: 5px;
}

#add-task-form input {
    background-color: white;
}


#priority {
    display: flex;
    gap: 10px;
    justify-content: stretch;
}

#low {
    border: 2px green solid;
    color: green;
}

#low:hover {
    background-color: green;
    color: white;
}

#medium {
    border: 2px rgb(255, 208, 0) solid;
    color: rgb(255, 208, 0);
}

#medium:hover {
    background-color: rgb(255, 208, 0);
    color: white;
}

#high {
    border: 2px red solid;
    color: red;
}

#high:hover {
    background-color: red;
    color: white;
}

#priority option {
    font-weight: 500;
    border-radius: 5px;
}

.input-new-project-name {
    width: 100px;
    font-size: 20px;
}

.High-priority {
    border-left: solid 3px red;
}

.Medium-priority {
    border-left: solid 3px  rgb(255, 208, 0);
}

.Low-priority {
    border-left: solid 3px green;
}